.box-form {
  width: 50%;
  max-width: 25em;
  margin: 0 1em;
  background-color: rgba(153,153,153,0.4);
  box-shadow: 2px 4px 4px #888888;
  .form {
    width: 80%;
    margin: 0 auto;
    .border-box{
      margin: 3rem 0;
      .title{
        padding-bottom: 1.5em;
      }
      .inputArea {
        width: 100%;
        padding-bottom: 1em;
        label {
          display: block;
          padding-bottom: 0.5em;
          font-weight: 500;
        }

        input {
          width: 100%;
          min-height: 2em;
        }
      }
      .group-button{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .itemBtn{
          width: 100%;
          text-align: left;
          &:last-child{
            text-align: right;
          }
          .btn{
            width: 70%;
            min-height: 2.5em;
            margin-top: 0.75em;
            transition: ease-in-out 500ms;
            cursor: pointer;
            box-shadow: 2px 4px 4px #888888;
          }
        }
      }
    }

  }
}

//mobile portrait
@media only screen and (max-width: 768px)  {
  .box-form {
    width: 90%;
    min-width: 25em;
  }
}
//ipad
@media only screen and (min-width: 768px) {
  .box-form {

  }
}