.showInformation{
  width: 90%;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.8);
  margin: 0 6em;
  padding: 3em ;
  box-shadow: 5px 10px 18px #888888;
  .userInformation{
    width: 100%;
    text-align: left;
    label{
      width: 100%;
      display: flex;
      margin-bottom: 0.3em;
      span{
        width: 6em;
      }
      input{
        width: 17em;
        min-height: 2em;
      }
    }
  }
    .headTitle{
      font-size: 2.3em;
      padding-bottom: 0.3em;
    }
    .numberQuestion{
      font-size: 1.3em;
      padding-bottom: 0.1em;
    }
    .countDownTime{
      font-size: 0.8em;
      padding-bottom: 0.5em;
    }

    .btn{
      width: 15%;
      background-color: rgba(153,153,153,0.4);
      box-shadow: 2px 4px 4px #888888;
      padding: 0.5em 0;
      font-size: 1.2em;
      margin-top: 1em;
      transition: ease-in-out 300ms;
      cursor: pointer;
      &:hover{
        font-weight: 700;
      }
    }
}

// mobile portrait
@media only screen and (max-width: 768px) {
  .showInformation{
    width: 97%;
    padding: 2em;
    margin: auto auto;
    .userInformation{
      input{
        min-height: 2em;
      }
    }
    .headTitle{
      font-size: 1.7em;
    }
    .numberQuestion{
      font-size: 1em;
    }
    .countDownTime{
      font-size: 1em;
    }

    .btn{
      width: 40%;
      font-size: 1em;
    }

  }
}