
.Overlay {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.8);
  .Modal{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%,-50%);
    background-color: rgba(153,153,153,0.4);
    border: 1.5em solid white;
    box-shadow: 5px 10px 18px #888888;
    outline: none;
    .popup {
      width: 100%;
      background-color: rgba(153,153,153,0.4);
      .border-box {
        width: 100%;
        text-align: center;
        padding: 3rem 0;
        margin: 0 auto;
        .score{
          font-size: 4em;
          margin-top: 0.2em;
        }
        .group-button{
          width: 100%;
          display: flex;
          justify-content: space-around;
          margin-top: 1.5em;
          margin-bottom: 0.5em;
          a{
            cursor: pointer;
            padding: 0 0.5em;
            .btn{
              min-width: 8em;
              min-height: 2.5em;
            }
          }
        }
      }
    }
  }
}




// mobile portrait
@media only screen and (max-width: 768px) {

}