.elementPage{
  .PopupDescription{
    width: 30%;
    background-color: rgba(238, 238, 238, 0.8);
    margin: 0 auto;
    padding: 3em 0;
    box-shadow: 5px 10px 18px #888888;
    .title{
      font-size: 1.7em;
      margin-bottom: 0.5em;
    }
    .detail-information{
      width: 100%;
      text-align: center;
      button{
        width: 30%;
        min-height: 2.5em;
        color: #ffffff;
        margin-top: 2em;
        background-color: #000000;
        transition: ease-in-out 200ms;
        &:hover{
          background-color: #333333;
        }
      }
    }
  }
}
// mobile portrait
@media only screen and (max-width: 768px) {
  .elementPage{
    .PopupDescription{
      width: 80%;

      .title{

      }
      .detail-information{

        button{

        }
      }
    }
  }
}