.elementPage {
  .examinationList {
    width: 80%;
    background-color: rgba(238, 238, 238, 0.8);
    margin: 0 auto;
    padding: 3em 0;
    box-shadow: 5px 10px 18px #888888;

    .button {
      width: 100%;
      text-align: center;
      margin-top: 2em;

      a {
        margin: 0 3em;
        .btn {
          width: 20%;
          min-height: 2.5em;
          background-color: rgba(153, 153, 153, 0.4);
          box-shadow: 2px 4px 4px #888888;
        }
      }
    }
  }
}

//mobile portrait
@media only screen and (max-width: 768px) {
  .elementPage {
    .examinationList {
      width: 97%;
    }
  }
}