.Main{
  width: 100%;
  min-height: 49.5em;
  background-image: url("../../Assets/bg1.jpg");
  background-size: cover;
  display: flex;
  /*align-items: center;*/
}
@media only screen and (max-width: 768px) {
 .Main{
   height: 100vh;
   background-position-x: 58%;
 }
}