.List {
  width: 90%;
  background-color: rgba(153, 153, 153, 0.4);
  margin: 0 auto;
  padding: 1em;
  margin-top: 2em;

  .group-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(238, 238, 238, 0.8);
    margin-bottom: 0.5em;
    padding: 0.75em;
    cursor: pointer;
    transition: ease-in-out 300ms;

    &:hover {
      background-color: rgba(238, 238, 238, 0.2);
    }

    a {
      .listExam {
        font-size: 1.2em;
        font-weight: 400;
      }
    }

    .icons{
      display: flex;
      align-items: center;
      .trashIcon, .editIcon {
        font-size: 0.95em;
        color: rgba(85,85,85,1);
        transition: ease-in-out 200ms;
        margin: 0.3em;
        &:hover {
          color: #000000;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {

}