.AddQuestion {
  width: 95%;
  background-color: rgba(153, 153, 153, 0.4);
  text-align: center;
  padding: 1em;
  box-shadow: 2px 4px 4px #888888;

  .title {

  }

  .groupBasicInformation {
    width: 81%;
    margin: 0 auto;
    padding-top: 3em;
    margin-bottom: 3em;

    .basicInformation {
      display: flex;

      h4 {
        width: 7em;
        text-align: left;
      }

      input {
        min-height: 2em;
      }

      input, textarea {
        min-width: 30%;
        margin-bottom: 0.5em;
      }

      textarea {
        min-height: 5em;
        overflow-y: visible;
      }
    }
  }

  .Questions {

    .table-1 {
      width: 100%;
      display: flex;
      flex-direction: column;

      .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .rowQuestion {
        .item {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 0.2em;

          .cell {
            margin: 0 0.2em;

            .idShow {
              background: none;
              border: none;
              box-shadow: none;
              text-align: center;
              font-weight: 700;
            }
          }
        }
      }

      .cell {
        width: calc(100% / 8);

        select {
          width: 100%;
          min-height: 2em;

        }

        input {
          width: 100%;
          min-height: 2em;
        }
      }
    }
  }

  .group-btn {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;

    .icon-insert {
      font-size: 1.3em;
      color: rgba(85, 85, 85, 1);
      cursor: pointer;
      transition: ease-in-out 200ms;
      margin: 0.3em;

      &:hover {
        color: #000000;
      }
    }

    a {
      width: 12%;

      .finish-btn {
        width: 100%;
        min-height: 2em;
        box-shadow: 2px 4px 4px #888888;
      }
    }
  }
}

// mobile portrait
@media only screen and (max-width: 768px) {
  .AddQuestion {
    padding: 1em;

    .title {

    }

    .groupBasicInformation {
      width: 100%;

      .basicInformation {

        input, textarea {
          width: 85%;
        }

        textarea {

        }
      }
    }

    .Questions {
      .table-1 {
        width: 100%;
        display: flex;
        flex-direction: row;

        .row {
          width: 100%;
          display: block;
        }

        .rowQuestion {
          width: 100%;
          overflow-x: scroll;
          display: flex;

          .item {
            min-width: 100%;
            display: flex;
            flex-direction: column;
          }
        }

        .cell {
          width: 100%;
          min-height: 2em;

          select {
            width: 100%;
          }

          input {
            width: 100%;
          }
        }
      }

    }

    .group-btn {


      .icon-insert {


        &:hover {

        }
      }

      a {
        width: 45%;

        .finish-btn {

        }
      }
    }
  }
}

// ipad
@media only screen and (min-width: 768px) {
  .AddQuestion {
    width: 100%;

    .title {

    }

    .groupBasicInformation {

      .basicInformation {

        input, textarea {

        }

        textarea {

        }
      }
    }

    .Questions {

      /*.table-1{
        width: 100%;
        display: flex;
        flex-direction: column;
        .row{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .cell {
          width: calc(100%/8);
          select{
            width: 100%;
          }
        }
      }*/

      .table-1 {

        .row {

        }

        .cell {

          select {

          }
        }
      }
    }

    .group-btn {
      justify-content: space-between;

      .icon-insert {


        &:hover {

        }
      }

      a {
        .finish-btn {

        }
      }
    }
  }
}