.Dashboard{
  width: 100%;
  height: 100vh;
  .item{
    width: 100%;
    display: flex;
    &:first-child{
      justify-content: right;
    }
    &:nth-child(2){
      justify-content: center;
      min-height: 10em;
      align-items: center;
    }
    &:last-child{
      justify-content: center;
      margin: 0 auto;
      width: 10%;
      cursor: pointer;
      border-radius: 0.5em;
      box-shadow: 2px 4px 4px #888888;
      background-color: rgba(238, 238, 238, 0.8);
      text-align: center;
      &:hover{
        font-weight: 500;
        background-color: rgba(238, 238, 238, 1);
      }
    }
    .dashboardBtn{
      padding: 0.2em 1.5em;
      margin: 0.2em;
      cursor: pointer;
      border-radius: 0.3em;
      box-shadow: 2px 4px 4px #888888;
      background-color: rgba(238, 238, 238, 0.8);
      text-align: center;
      font-weight: 400;
      font-size: 0.9em;
    }
    .dashboard-title{
     font-size: 2em;
      text-align: center;
    }
    .start-button{
      font-size: 1.6em;
      padding: 0.2em 2em;

    }
  }
}

// mobile portrait
@media only screen and (max-width: 768px) {
  .Dashboard{

    .item{
      .dashboard-title{
        font-size: 1.2em;
      }

      &:first-child{
        a{
          width: 30%;
        }
      }
      &:nth-child(2){

      }
      &:last-child{
        width: 45%;
      }
      .admin-button{

      }
      .dashboard-title{

      }
      .start-button{
        font-size: 1.4em;
      }
    }
  }
}