
.OverlayGuideLine {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.8);

  .ModalGuideLine {
    position: absolute;
    top: 20%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: rgba(153, 153, 153, 1);
    border: 1.5em solid white;
    box-shadow: 5px 10px 18px #888888;
    outline: none;
    padding: 2em;
    .guideline{
      text-align: center;
      .contentGuideLine{
        font-size: 1.2em;
        text-align: left;
        color: #ffffff;
      }
      .closeModal{
        padding: 0.2em 1.5em;
        margin-top: 1em;
        cursor: pointer;
        border-radius: 0.3em;
        box-shadow: 2px 4px 4px #888888;
        background-color: rgba(238, 238, 238, 0.8);
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .OverlayGuideLine{
    .ModalGuideLine{
      width: 90%;
      top: 30%;
    }
  }
}