.Question{
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: left;
  .border-box{
    .border-inside{
      background-color: rgba(153,153,153,0.4);
      padding: 1.3em;
      .question{
        font-size: 1.3em;
        padding: 0.5em 0;
      }
      .answers{
        .group-answer{
          display: flex;
          align-items: center;
          input{
            cursor: pointer;
          }
          .tickIcon{
            width: 2em;
          }
          .answer{
            width: 30%;
          }
          span{
            width: fit-content;
            font-size: 1.2em;
            padding-left: 0.5em;
          }
        }
      }
    }
  }
}