html{
    font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: #000000;
}
textarea{
    border: none;
    outline: none;
}
select{
    box-shadow: 2px 4px 4px #888888;
    border-radius: 0.4em;
    border: none;
    outline: none;
    text-align: center;
}
input[type="radio"]{
    box-shadow: none;
}
input,textarea{
    border-radius: 0.4em;
    border: none;
    outline: none;
    padding-left: 0.75em;
    box-shadow: 2px 4px 4px #888888;
}
/*Hide Arrows From Input Number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
button{
    border-radius: 0.4em;
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover{
    font-weight: 700;
}
.title{
    font-size: 2em;
    text-align: center;
}
.elementPage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*mobile portrait*/
@media only screen and (max-width: 768px) {
    .App{
        width: 100%;
    }
    .elementPage{
        height: 100vh;
    }
}