.elementPage{
  .candidateExamList{
    width: 80%;
    background-color: rgba(238, 238, 238, 0.8);
    margin: 0 auto;
    padding: 3em 0;
    box-shadow: 5px 10px 18px #888888;
    .group-exam{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 2em 1em;
      flex-wrap: wrap;

      .exam{
        width: 20%;
        min-height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.7em;
        margin: 1em;
        border-radius: 0.5em;
        cursor: pointer;
        background-color: #000000;
        transition: ease-in-out 300ms;
        &:hover{
          background-color: #333333;
        }
        .name-exam{
          color: #ffffff;
        }
      }
    }
  }
}
// mobile portrait
@media only screen and (max-width: 768px) {
  .elementPage{
    .candidateExamList{
      width: 97%;

      .group-exam{

        .exam{
          width: 40%;
          .name-exam{

          }
        }
      }
    }
  }
}